<div >
    <div class="m-12 mt-24 lg:mt-8">
        <h1 class="text-center font-Poppins text-yellow-400 font-bold text-7xl lg:text-4xl " >AHB JOBS</h1>
        <p class=" text-center text-4xl font-normal lg:text-xl">A Skill library</p>

    </div>
    <div class="lg:flex lg:flex-row">

        {{!-- Details --}}
        <div class="flex flex-col">
        <div class="  items-center text-center lg:text-left lg:flex lg:flex-row lg:items-start">
        <div class="mt-32 mr-32 p-4 lg:pl-0 ml-32 text-3xl font-medium lg:text-left lg:ml-16 lg:mt-6 lg:mr-0 ">
          <div class=" text-yellow-400 font-semibold text-6xl lg:text-4xl lg:font-black "> Give life to your Passion</div>  

          <div class="mt-12 lg:mt-8 font-normal text-4xl lg:text-left lg:text-2xl ">	Let's unlearn money</div>
          <div class="text-center font-normal text-4xl lg:text-left lg:text-2xl ">Experience how an eco careers can transform the world</div>
          
		
        </div>
        </div>
       
        {{!-- button --}}
          <div class="flex justify-center items-center lg:justify-start lg:items-start lg:p-2">
           <a class=" hover:text-yellow-400" href="/auth/google/">
            <div class=" h-24 w-96 lg:h-14 lg:w-52 lg:mt-0 mt-24 lg:ml-20 flex flex-row px-3 py-1 lg:py-2 filter drop-shadow-lg  hover:text-yellow-400 bg-yellow-500 text-white hover:bg-yellow-600 border-2 rounded-2xl border-yellow-400 hover:border-yellow-300 ">
              <div class="  p-2 lg:p-0 lg:h-7 lg:w-7   ">
                <svg class=" h-14 w-14 lg:w-7 lg:h-7" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="24" height="24"
viewBox="0 0 172 172"
style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M89.42656,165.12c-43.63156,0 -79.13344,-35.48844 -79.13344,-79.12c0,-43.63156 35.50187,-79.12 79.13344,-79.12c19.76656,0 38.68656,7.32344 53.29312,20.62656l2.66063,2.43219l-26.09563,26.09563l-2.41875,-2.06938c-7.65937,-6.5575 -17.40156,-10.17219 -27.43937,-10.17219c-23.27375,0 -42.22063,18.93344 -42.22063,42.20719c0,23.27375 18.94688,42.20719 42.22063,42.20719c16.78344,0 30.04625,-8.57312 36.29469,-23.17969h-39.73469v-35.62281l77.57469,0.1075l0.57781,2.72781c4.04469,19.20219 0.80625,47.44781 -15.5875,67.65781c-13.57188,16.72969 -33.45938,25.22219 -59.125,25.22219z"></path></g></g></svg>
             </div>
              <div>
                <p class="text-4xl p-3 lg:-mt-2 font-semibold lg:text-lg hover:text-yellow-400">Register Now</p>
              </div>

             </div>
             </a>
           </div>

    </div>


   {{!-- img  --}}
    <div>
        <center>
            {{!-- class=" mt-36 -ml-8 lg:ml-0 lg:mt-0 lg:mr-0" --}}
            <object class=" mt-36 -ml-8 lg:ml-64 lg:mt-0 lg:mr-0 lg:h-64 lg:w-64" data="/images/launch.svg" width="400" height="400"> </object>
        </center>
           
    </div>

    </div>
    

  

    <div class=" mt-14 text-center lg:mt-24  " >
        <h2 class="text-5xl font-medium lg:text-2xl  lg:font-medium">Launching Soon</h2>
      <div class=" mt-6 lg:mt-0">
          <a class="  text-4xl lg:text-lg lg:font-normal" href="amazinghuman.in">An AHB Initiative</a>
      </div> 
    </div>



<script src=
    "javascripts/particles.js">
</script>
<script src=
    "javascripts/app.js">
</script>

</div>


  {{!-- button
          <div class=" lg:p-2">
           <a class=" hover:text-yellow-400" href="/auth/google/">
            <div class="  lg:h-14 lg:w-52 lg:mt-0 mt-24 lg:ml-20 flex flex-row px-3 py-1 filter drop-shadow-lg  hover:text-yellow-400 bg-yellow-500 text-white hover:bg-yellow-600 border-2 rounded-2xl border-yellow-400 hover:border-yellow-300 ">
              <div class="  p-0 lg:h-7 lg:w-7 lg:mt-2  ">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="24" height="24"
viewBox="0 0 172 172"
style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M89.42656,165.12c-43.63156,0 -79.13344,-35.48844 -79.13344,-79.12c0,-43.63156 35.50187,-79.12 79.13344,-79.12c19.76656,0 38.68656,7.32344 53.29312,20.62656l2.66063,2.43219l-26.09563,26.09563l-2.41875,-2.06938c-7.65937,-6.5575 -17.40156,-10.17219 -27.43937,-10.17219c-23.27375,0 -42.22063,18.93344 -42.22063,42.20719c0,23.27375 18.94688,42.20719 42.22063,42.20719c16.78344,0 30.04625,-8.57312 36.29469,-23.17969h-39.73469v-35.62281l77.57469,0.1075l0.57781,2.72781c4.04469,19.20219 0.80625,47.44781 -15.5875,67.65781c-13.57188,16.72969 -33.45938,25.22219 -59.125,25.22219z"></path></g></g></svg>
             </div>
              <div>
                <p class="text-4xl p-2 font-semibold lg:p-0 lg:text-lg hover:text-yellow-400">Register Now</p>
              </div>

             </div>
             </a>
           </div> --}}
















{{!-- 
 </div>
        <a href="/auth/google/">
        <div class="mt-24 flex flex-row px-7 py-2 filter drop-shadow-lg bg-white border-4 rounded-3xl border-gray-700 border-opacity-50 lg:px-0 lg:py-0">
            <div>
                <img class="p-3 lg:p-0" src="https://img.icons8.com/color/48/000000/google-logo.png"/>
            </div>
            <div>
                <p class="p-3 text-4xl lg:p-0 font-medium lg:text-xl">Register Now</p>
            </div>
                
        </div> --}}






