<h1>Register</h1>
<form action="/register" method="POST">
  <label for="email">Email:</label><br>
  <input  type="text" id="email" name="email" required><br>
  <label for="pass">Password</label><br>
  <input type="text" id="pass" name="pass" required>
  <br>
   <input type="submit" value="Submit">
</form>

<br>
<hr>
<br>
<a href="/">Home</a>
<a href="/login">Login</a>