<h1>Login</h1>
<form action="/update" method="POST">
  <label for="email">Email:</label><br>
  <input  type="text" id="email" name="email" required><br>
  <label for="pass">Password</label><br>
  <input type="text" id="pass" name="pass" required>
  <br>
   <input type="submit" value="Submit">
</form>


<hr>
<br>
<a href="/">Home</a>
