<img src="{{user.photos.[0].value}}" alt="profile">
<br>
<h1>Welcome {{user.name.givenName}} 🙌</h1>
<h3>
    NAME : {{user.displayName}}
    <br>
    EMAIL :{{user.emails.[0].value}}
    <br>
</h3>

<a href="/logout"><button>logout</button></a>
