<img src="{{user.photos.[0].value}}" alt="profile">
<br>
<h1>Welcome {{user.name}} 🙌</h1>
<h3>
    NAME : {{user.name}}
    <br>
    EMAIL :{{user.email}}
    <br>
</h3>

<a href="/logout"><button>logout</button></a>
