body {
  padding: 50px;
  background-color: #2176FF;
  font: 'Helvetica';
}
h1{
  font: 40px 'Poppins', Helvetica, Arial, sans-serif;
  color: white;
 
}
p{
  font: 'Helvetica';
  color: white;
}

form{
  font: 'Helvetica';
  font-size: 20px;
  color:white
}

a{

  color: white;
  font-size: x-large;
}

h3{
  color: white;
}